.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #f1e0cb;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ffa198;
}

p {
  font-size: 2rem;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.buttonClass{
  margin-top: 30px;
}

button{
  background-color: #ffa198;
  border-radius: 20px;
  padding: 30px 45px;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  cursor: pointer;
}
button:active{
  background-color: #EEEEEE;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;


}
